<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>bookshop</display-name>
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/c.tld</taglib-location>
    </taglib>
  </jsp-config>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>cn.test.Login</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>DisplayBooks</display-name>
    <servlet-name>DisplayBooks</servlet-name>
    <servlet-class>cn.test.DisplayBooks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayBooks</servlet-name>
    <url-pattern>/user/page/displayBooks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/user/page/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>new_servlet</display-name>
    <servlet-name>new_servlet</servlet-name>
    <servlet-class>cn.test.new_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>new_servlet</servlet-name>
    <url-pattern>/new_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>new_servlet_02</display-name>
    <servlet-name>new_servlet_02</servlet-name>
    <servlet-class>cn.test.new_servlet_02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>new_servlet_02</servlet-name>
    <url-pattern>/user/page/new_servlet_02</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartAddBook</display-name>
    <servlet-name>CartAddBook</servlet-name>
    <servlet-class>cn.test.CartAddBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartAddBook</servlet-name>
    <url-pattern>/CartAddBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Book_collect</display-name>
    <servlet-name>Book_collect</servlet-name>
    <servlet-class>cn.zly.servlet.Book_collect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Book_collect</servlet-name>
    <url-pattern>/user/page/Book_collect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Book_collected</display-name>
    <servlet-name>Book_collected</servlet-name>
    <servlet-class>cn.zly.servlet.Book_collect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Book_collected</servlet-name>
    <url-pattern>/Book_collected</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Password_And_ChangeAddress</display-name>
    <servlet-name>Password_And_ChangeAddress</servlet-name>
    <servlet-class>cn.zly.servlet.Password_And_ChangeAddress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Password_And_ChangeAddress</servlet-name>
    <url-pattern>/user/page/Password_And_ChangeAddress</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>new_Don_tKnow</display-name>
    <servlet-name>new_Don_tKnow</servlet-name>
    <servlet-class>cn.zly.servlet.new_Don_tKnow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>new_Don_tKnow</servlet-name>
    <url-pattern>/user/page/new_Don_tKnow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>I_dont_know_how_to_name</display-name>
    <servlet-name>I_dont_know_how_to_name</servlet-name>
    <servlet-class>cn.zly.servlet.I_dont_know_how_to_name</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>I_dont_know_how_to_name</servlet-name>
    <url-pattern>/admin/page/I_dont_know_how_to_name</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mangement_others</display-name>
    <servlet-name>Mangement_others</servlet-name>
    <servlet-class>cn.zly.servlet.Mangement_others</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mangement_others</servlet-name>
    <url-pattern>/admin/page/Mangement_others</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCart</display-name>
    <servlet-name>EditCart</servlet-name>
    <servlet-class>cn.test.EditCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCart</servlet-name>
    <url-pattern>/user/page/EditCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayCart</display-name>
    <servlet-name>DisplayCart</servlet-name>
    <servlet-class>cn.test.DisplayCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayCart</servlet-name>
    <url-pattern>/user/page/DisplayCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCartItem</display-name>
    <servlet-name>DeleteCartItem</servlet-name>
    <servlet-class>cn.test.DeleteCartItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCartItem</servlet-name>
    <url-pattern>/user/page/DeleteCartItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>jjjjj</display-name>
    <servlet-name>jjjjj</servlet-name>
    <servlet-class>cn.test.jjjjj</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jjjjj</servlet-name>
    <url-pattern>/jjjjj</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookEdit</display-name>
    <servlet-name>BookEdit</servlet-name>
    <servlet-class>cn.test.BookEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookEdit</servlet-name>
    <url-pattern>/admin/page/bookEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookAdd</display-name>
    <servlet-name>BookAdd</servlet-name>
    <servlet-class>cn.test.BookAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookAdd</servlet-name>
    <url-pattern>/admin/page/bookAdd</url-pattern>
  </servlet-mapping>
</web-app>